COMPOSE_PROJECT_NAME=hahitantsoa_titan_erp
POSTGRES_DB=hahitantsoa_titan
POSTGRES_USER=hahitantsoa_titan
POSTGRES_PASSWORD=replace-me-local-postgres-password
REDIS_PASSWORD=replace-me-local-redis-password
